style
	.info { font-size: .8em; display:inline-block; }
	.pzpRunning { color: Green; }
	.pzpNotRunning { color: Red; }
	.title { padding: 10px 0px 10px 0px; font-size: 2em; }	
script(type='text/javascript')
	$(function () {
		function gotPZP(data) {
			$(".info").html("PZP running").removeClass("pzpNotRunning").addClass("pzpRunning");
		}
		try {
			webinos.session.addListener('registeredBrowser', gotPZP);
		} catch (e) {
		}
	});
div
	.title
		| webinos API test status - 
		.info.pzpNotRunning PZP not running
	div.testSection unit tests
	div
		a(target="_blank", href="/tests/apiTests.html") api tests
	div.testSection 
		| system tests
	div(style="margin-left:20px;")
		div.testSection 
			| pzp test
		div.testSection 
			| policy tests
		div.testSection 
			| widget tests
			